@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Colores personalizados */

:root {

    --grayGym: rgb(175, 173, 173);
    --whiteGym: rgb(233, 231, 231);
    --blakgym: rgb(0, 0, 0);
    
 }


 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


 body{
   
    font-family: 'Bebas Neue', cursive; 

}



header {
    width: 100%;
    height: 100vh;
    background-image: url(./imagen/encabezado.png);
    background-size: cover;
    background-repeat: no-repeat;
    
   
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    width: 140px;
    margin-left: 17px;
    margin-top: 144px;
    
}



.bar-btn {
    font-size: 30px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: black;
    text-align: center;
    transition: all .5s;
}
.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}
.nav-menu li a {
    color: var(--whiteGym);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(255, 68, 68);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}




.titulo {
    
    text-align:center;
    margin-top: 40vh;
    color: var(--whiteGym);
}

h1{
    
    font-size: 37px;
    font-style: italic;
    width: 30%;
    margin: auto;
    margin-bottom: 27px;
    color: black;
}
.titulo a{
    background: black ;
    color: var(--whiteGym);
    padding: 17px 27px;
    border-radius: 7%;
    
}
.contenedor-cards {

    display: flex;
    justify-content: center;

}

.card{
    text-align: center;
    box-shadow: -1px 0px 5px
    #0000001f;
    width: 37%;
    margin-top: 70px;
    background: var(--whiteGym);
    padding: 17px 7px;
    padding-bottom: 7px; 7px;
    border-radius: 7%;
}

#segunda-card{
    margin: 0 20px;
   text-align: center;
   align-items: center;
   margin-top: 70px;
   
}

.card p {
    font-size: 15px;
    text-align: center;
}

.card a{
 
    background: black;
    color: var(--whiteGym);
    border-radius: 7%;

}

.card h3{

    font-style: italic;
}


#Contacto{
    background: black;
    font-style: italic;
    color: var(--whiteGym);
    text-align: center;
    padding: 57px;
}



.findepagina{
    display: flex;
    text-align: center;
    flex-direction:center;
    justify-content: center;
    margin: 25px;
}




@media(max-width: 880px){

        .logo{
            margin-left: 47px;
        }

        nav{
            height: 100px;
        }

        .bar-btn {
            display: block;
        }
        
        .nav-menu {
            position: relative;
            height: 100px;
            top: 0;
            background: none;
            transition: none ;
            text-align: right;
            margin-right: 50px;
        }

        .nav-menu li {
            display: inline-block;
            line-height: 100px;
            margin: 0 20px;
            transition: none;
         }

         .nav-menu li a {
            font-size: 27px;

         }



}